.menu{
    text-decoration: none;
    color: black;
    font-size:large;
    display:block;
    margin: 20px 30px;
    font-family: 'Raleway', sans-serif;
}
.musich1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display:block;
    font-size: 80px;
}
.musich2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.musicbody{
    font-family: 'Open Sans', sans-serif;
}